<div class="container">
    <h2  style="text-align:center"><b>Customer Form</b></h2>
    
    <form >
      <div class="form-group">
        <label for="customerName">Customer Name:</label>
        <input 
          formControlName="customerName"
          id="customerName"
          type="text"
          class="form-control">
          </div>
  
            <div class="form-group">
            <label for="contactNumber">Contact Number:</label>
            <input 
              formControlName="contactNumber"
              id="contactNumber"
              type="number"
              class="form-control">
              </div>
  
              <div class="form-group">
                <label for="emailId">Email Id:</label>
                <input 
                  formControlName="emailId"
                  id="emailId"
                  type="text"
                  class="form-control">
                  </div>
  
                  <div class="form-group">
                    <label for="customerAddress">Customer Address:</label>
                    <input 
                      formControlName="customerAddress"
                      id="customerAddress"
                      type="text"
                      class="form-control">
                      </div>
  
                      <div class="form-group">
                        <label for="pinCode">Pin Code:</label>
                        <input 
                          formControlName="pinCode"
                          id="pinCode"
                          type="number"
                          class="form-control">
                          </div>
          
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
  </div>
  
  
